<%- include('includes/head') %>
<%- include('includes/navbar') %>

<div class="container">
  <div class="row">

    <div class="col-lg-8 my-3 m-auto">
      <h1 class="text-center">Login</h1>
      <p class="text-center lead">Sign Up / Login</p>

      <div class="row">
        <%- include('includes/signUpForm') %>
        <%- include('includes/loginForm') %>
      </div>

  </div>
</div>

<%- include('includes/footer') %> 